    <ul class="menu">
    <li>
    </li>
    <li>
      <%= link_to "Send feedback", leave_feedbacks_new_path, :remote => true, :class => "icon icon-email-add" %>
    </li>
    </ul>

<div class="tabs">
  <ul>
  <% tabs.each do |tab| -%>
    <li><%= link_to l(tab[:label]), {:controller => tab[:controller], :action => tab[:action] },
                                    :id => "tab-#{tab[:controller]}",
                                    :class => (tab[:controller] != controller_name  ? nil : 'selected')
                                     %></li>
  <% end -%>
  </ul>
  <div class="tabs-buttons" style="display:none;">
    <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
    <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
  </div>
</div>

<script>
  $(document).ready(displayTabsButtons);
  $(window).resize(displayTabsButtons);
</script>