<p><small><%= l(:leave_administrators_form_info) %></small></p>
<table align="center">
  <tr>
    <td>
      <%= select_tag 'leave_administrator_ids', user_not_contractor_options_for_select(@leave_administrators), :multiple => true, :size => 7 %>
    </td>
  </tr>
</table>