<% if User.current.can_create_leave_requests %>
	<h3><%= link_to l(:leave_holidays), leave_requests_path %>
	</h3>
	<p>
			<%= t(:leave_block_my_metrics_html, :start => format_date(user.leave_period[:start]), :end => format_date(user.leave_period[:end]), :days => user.days_remaining) %>
	</p>

	<%= link_to l(:label_leave_create_request), new_leave_request_path,:class => 'icon icon-add' %>
<% end %>