<hr />
<h3>Consultation summary for the leave request <%= @leave.id %></h3>
<hr />


<% if !@votes.empty? %>
	<div class="list">
		<table>
			<thead>
				<th>Id</th>
				<th>Consulted</th>
				<th>Answer</th>
				<th>Date of Consultation</th>
				<th>Role Consulted as</th>
				<th>Comments</th>
			</thead>
			<tbody>
				<% @votes.each do |vote| %>
					
					<tr class="<%= cycle("odd", "even") %>">

						<td><%= vote.id %></td>
						<td><%= vote.user.name %></td>
						<td><%= vote.vote %></td>
						<td><%= format_time(vote.updated_at) %></td>
						<td><%= LeavesHolidaysLogic.allowed_common_project(vote.user, @leave.user, 2)[:name] %></td>
						<td><%= vote.comments %></td>
						
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<h3>There are no Consultations for this leave request</h3>
<% end %>

<br>
<%= link_to 'Back', leave_request_path(@leave) %>

