<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>


<h1>Leaves Dashboard</h1>

<!-- <h3>Leave days accumulated this year: <%= @dates %></h3> -->




<hr />

<p class="tabular2"><%= render_tabs leaves_holidays_tabs %></p>