<h2>LeaveRequestController#index</h2>

	<% if User.current.allowed_to?(:manage_leaves_requests, nil, :global => true) %>
		<h2>ALLOWED</h2>
	<% else %>
		<h2>NOT ALLOWED</h2>
	<% end %>

	<h1>My leaves:</h1>

<div class="tabular">
<%= render 'leaves_table' %>
</div>
<br>

<td><%= link_to l(:label_leave_create_request), new_leave_request_path %></td>


