<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'leaves_holidays', :plugin => 'redmine_leaves_holidays' %>
<% end %>


<h1>Leave Dashboard</h1>



<p class="tabular2"><%= render_tabs leaves_holidays_tabs %></p>