<h1>Leaves Dashboard</h1>


<h3>Users able to approve your leaves:</h3>
<% @approvers.each do |i| %>
	<p>
		<%= i[:name] %>
	</p>
<% end %>

<div class="tabular">
	<%= render 'leaves_table' %>
</div>


<br>

<td><%= link_to l(:label_leave_create_request), new_leave_request_path %></td>


