.leave {
	padding:6px; 
	margin-bottom:6px;
	border: 1px solid #d7d7d7;
	color: white;
	}

.strip {
    
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 30px);
    padding:6px; 
    color: white;
    margin-bottom:6px;
    border: 1px solid #d7d7d7;
}

.leave-table {
	text-align: left; 
	font-size: 95%;

}


table.cal tbody th {
  height: 100%;
  font-weight: normal;
}