<p>
	<strong>Status Id:</strong>
	<%= status.id %>
</p>
<p>
	<strong>Status:</strong>
	<%= status.acceptance_status %>
</p>
<p>
	<strong>Processed by:</strong>
	<%= status.user %>
</p>
<p>
	<strong>Comments:</strong>
	<%= status.comments %>
</p>
