<h2>LeaveStatusController#show</h2>

<%= render 'status' %>

<% if LeavesHolidaysLogic.is_allowed_to_manage_status(User.current, @status.leave_request.user) %>
	<td><%= link_to 'Manage', edit_leave_request_leave_statuses_path %></td>
<% end %>
