<!DOCTYPE html>
<h1><%= link_to "Leave Request \##{@leave.id}", @leave %> was submitted by <%= link_to @user.name, @user %> for approval:</h1>

<hr />

<h2>To Review/Manage this Leave Request, please go to your <%= link_to "Dashboard", leave_requests_url %></h2>


<%= render partial: '/leave_requests/details_leave', :formats => [:html], locals: {leave: @leave} %>

